
.container {
  width: 210vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(140deg,rgb(175, 84, 99),rgb(128, 66, 77));
}

.calculator {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

form input {
  border: none;
  outline: 0;
  width: 60px;
  height: 60px;
  font-size: 16px;
  background-color: lightcoral;
  margin: 2px;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
};

form input[type="button"]:hover {
  background-color: red;
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0px 15px 0px;
}

form .display input{
  text-align: right;
  flex: 1;
  font-size: 40px;
  padding: 5px 10px;
  background-color: rgb(133, 113, 113);
}

form input.equal {
    width: 123px;
}

  
